{
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"node": "current"}} ]
      ]
    },
    "production" : {
      "presets": [
        ["@babel/env", { "modules": false } ]
      ]
    }
  },

  "plugins": [
  ]
}
